# Created by .ignore support plugin (hsz.mobi)
### Example SysUserDetails template template
### Example SysUserDetails template

# IntelliJ project files
.idea
*.iml
out
gen
target
*.log

### Nacos
!**/nacos/target
**/nacos/bin/work
**/nacos/data
logs
**/nacos/LICENSE
**/nacos/NOTICE


### Canal
h2.mv.db
**/meta.dat
.DS_Store

