<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.member.mapper.AddressMapper">

    <!-- 根据会员ID获取地址列表 -->
    <select id="listAddressesByMemberId" resultType="com.youlai.mall.member.model.bo.AddressBO">
        SELECT
            id,
            member_id,
            recipient_name ,
            recipient_mobile,
            province,
            city,
            district,
            street,
            postal_code,
            is_default,
            create_time
        FROM
            ums_address
        WHERE
            member_id = #{memberId}
        ORDER BY
            create_time DESC
    </select>


</mapper>
