<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.pms.mapper.AttributeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.youlai.mall.pms.model.entity.Attribute">
        <id column="id" property="id" />
        <result column="attribute_group_id" property="attributeGroupId" />
        <result column="name" property="name" />
        <result column="input_type" property="inputType" />
        <result column="options" property="options" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, attribute_group_id, name, input_type, options, create_time, update_time, is_deleted
    </sql>


    <!-- 属性分页列表 -->
    <select id="listPagedAttributes" resultType="com.youlai.mall.pms.model.bo.AttributeBO">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            pms_attribute
        <where>
            is_deleted = 0
            <if test='queryParams.keywords!=null and queryParams.keywords.trim() neq ""'>
                AND (
                    name LIKE CONCAT('%',#{queryParams.keywords},'%')
                )
            </if>
        </where>
        ORDER BY sort ASC, create_time DESC
    </select>

</mapper>
