<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.pms.mapper.PmsSkuMapper">

    <resultMap id="BaseResultMap" type="com.youlai.mall.pms.pojo.entity.PmsSku">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="spuId" column="spu_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sn" column="sn" jdbcType="VARCHAR"/>
            <result property="picUrl" column="pic_url" jdbcType="VARCHAR"/>
            <result property="specifications" column="specifications" jdbcType="VARCHAR"/>
            <result property="originPrice" column="origin_price" jdbcType="BIGINT"/>
            <result property="price" column="price" jdbcType="BIGINT"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
            <result property="lockedStock" column="locked_stock" jdbcType="INTEGER"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,spu_id,name,
        sn,pic_url,specifications,
        origin_price,price,stock,
        locked_stock,gmt_create,gmt_modified
    </sql>
</mapper>
