<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.pms.mapper.PmsSkuMapper">

    <!-- 根据商品ID获取商品库存单元列表 -->
    <select id="listSkuBySpuId" resultType="com.youlai.mall.pms.pojo.entity.PmsSku">
        SELECT id  ,
               NAME  ,
               sku_sn,
               pic_url ,
               spec_ids,
               price ,
               stock_num
        FROM pms_sku
        WHERE spu_id = #{id}
    </select>

    <!-- 获取商品库存单元信息 -->
    <select id="getSkuInfo" resultType="com.youlai.mall.pms.pojo.dto.SkuInfoDTO">
        select
               t1.id skuId,
               t1.sku_sn,
               concat(t2.name,' ',t1.name) skuName,
               t1.pic_url,
               t1.price,
               t1.stock_num,
               t2.name as spuName
        from pms_sku t1
                 left join pms_spu t2 on t1.spu_id = t2.id
        where t1.id = #{id}
    </select>
</mapper>
