<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.pms.mapper.SpecValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.youlai.mall.pms.model.entity.SpecValue">
        <id column="id" property="id" />
        <result column="spec_id" property="specId" />
        <result column="value" property="value" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, spec_id, value
    </sql>


    <!-- 分页列表 -->
    <select id="listPagedSpecValues" resultType="com.youlai.mall.pms.model.bo.SpecValueBO">
        SELECT
           ${Base_Column_List}
        FROM
            pms_spec_value
        <where>
            deleted = 0
            <if test='queryParams.keywords!=null and queryParams.keywords.trim() neq ""'>
                AND (
                    name LIKE CONCAT('%',#{queryParams.keywords},'%')
                )
            </if>
            <if test='queryParams.status!=null'>
                AND status = #{queryParams.status}
            </if>
            <if test="queryParams.startTime != null">
                AND create_time &gt;= #{queryParams.startTime}
            </if>
            <if test="queryParams.endTime != null">
                AND create_time &lt;= #{queryParams.endTime}
            </if>
        </where>
    </select>

</mapper>
