<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.sms.mapper.SmsAdvertMapper">

    <!-- 广告分页列表 -->
    <select id="listAdvertPages" resultType="com.youlai.mall.sms.pojo.entity.SmsAdvert">
        SELECT
            *
        FROM
            `sms_advert`
        <where>
            <if test='queryParams.title!=null and queryParams.title.trim() neq ""'>
                AND title like concat('%',#{queryParams.title},'%')
            </if>
        </where>
        ORDER BY
           update_time desc
    </select>
</mapper>
