<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.sms.mapper.SmsSeckillSkuRelationMapper">
  <resultMap id="BaseResultMap" type="com.youlai.mall.sms.pojo.domain.SmsSeckillSkuRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="session_id" jdbcType="BIGINT" property="sessionId" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="seckill_price" jdbcType="BIGINT" property="seckillPrice" />
    <result column="seckill_count" jdbcType="INTEGER" property="seckillCount" />
    <result column="seckill_limit" jdbcType="INTEGER" property="seckillLimit" />
    <result column="seckill_sort" jdbcType="INTEGER" property="seckillSort" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, session_id, sku_id, seckill_price, seckill_count, seckill_limit, seckill_sort,
    gmt_create, gmt_modified
  </sql>

</mapper>
