<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.oms.mapper.OrderItemMapper">

    <!-- 根据订单ID获取订单明细 -->
    <select id="listOrderItemsByOrderId" resultType="com.youlai.mall.oms.pojo.vo.OrderPageVO$OrderItem">
        SELECT
            id,
            order_id,
            sku_id,
            sku_name,
            pic_url,
            price,
            count,
            total_amount
        FROM
            oms_order_item
        WHERE
            order_id=#{orderId}
    </select>
</mapper>
