<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="footer" class="footer">
    <!--<nav class="text-center">-->
        <!--<div class="footer-inner">-->
            <!--<div class="copyright">&copy; 2017 &mdash; <span itemprop="copyrightYear">2018</span>-->
                <!--<span class="with-love">-->
                                    <!--<i class="fa fa-heartbeat"></i>-->
                                <!--</span>-->
                <!--<span class="author" itemprop="copyrightHolder">TyCoding</span>-->
            <!--</div>-->
            <!--<label>基于Spring Boot实现Java高并发之秒杀系统</label>-->
        <!--</div>-->
    <!--</nav>-->
</div>

</body>
</html>