<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.admin.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.youlai.admin.pojo.entity.SysMenu">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="routeName" column="route_name" jdbcType="VARCHAR"/>
        <result property="routePath" column="route_path" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="visible" column="visible" jdbcType="BOOLEAN"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result  property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
        <collection property="roles" ofType="string" javaType="list">
            <result column="code"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,parent_id,
        path,component,redirect,
        icon,sort,visible,
        gmt_create,gmt_modified
    </sql>

    <select id="listRoute" resultMap="BaseResultMap">
        select t1.id,
               t1.name,
               t1.parent_id,
               t1.route_name,
               t1.route_path,
               t1.component,
               t1.icon,
               t1.sort,
               t1.visible,
               t1.redirect,
               t3.code
        from sys_menu t1,
             sys_role_menu t2,
             sys_role t3
        where t1.id = t2.menu_id
          and t2.role_id = t3.id
    </select>
</mapper>
