<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.admin.mapper.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.youlai.admin.pojo.entity.SysMenu">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="visible" column="visible" jdbcType="BOOLEAN"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
        <result property="type" column="type" jdbcType="OTHER"/>
        <collection property="roles" ofType="string" javaType="list">
            <result column="code"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,parent_id,
        path,component,redirect,
        icon,sort,visible,
        gmt_create,gmt_modified
    </sql>

    <select id="listRoutes" resultMap="BaseResultMap">
        select t1.id,
               t1.name,
               t1.parent_id,
               t1.path,
               t1.component,
               t1.icon,
               t1.sort,
               t1.visible,
               t1.redirect,
               t3.code,
               t1.type
        from sys_menu t1
                 left join sys_role_menu t2 on t1.id = t2.menu_id
                 left join sys_role t3 on t2.role_id = t3.id
        where t1.visible =${@com.youlai.common.constant.GlobalConstants@STATUS_YES}
        order by t1.sort asc
    </select>
</mapper>
