<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.admin.mapper.SysRolePermissionMapper">

    <!-- 根据角色和菜单获取权限ID集合 -->
    <select id="listPermIds" resultType="java.lang.Long">
        SELECT t1.permission_id
        FROM sys_role_permission t1
                 INNER JOIN sys_permission t2 ON t1.permission_id = t2.id
        WHERE
              t1.role_id = #{roleId}
              AND t2.menu_id = #{menuId}

    </select>
</mapper>
