<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.admin.mapper.SysUserMapper">

    <resultMap id="UserAuthMap" type="com.youlai.admin.dto.UserAuthDTO">
        <id property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="BOOLEAN"/>
        <result property="deptId" column="deptId" jdbcType="BIGINT"></result>
        <collection property="roles" ofType="string" javaType="list">
            <result column="roleCode"></result>
        </collection>
    </resultMap>

    <select id="getByUsername" resultMap="UserAuthMap">
        SELECT
            t1.id userId,
            t1.username,
            t1.nickname,
            t1.PASSWORD,
            t1.STATUS,
            t1.dept_id deptId,
            t3.CODE roleCode
        FROM
            sys_user t1,
            sys_user_role t2,
            sys_role t3
        WHERE
            t1.username = #{username}
          AND t1.deleted = 0
          AND t1.id = t2.user_id
          AND t2.role_id = t3.id
    </select>


    <select id="list" resultType="com.youlai.admin.pojo.entity.SysUser">
        SELECT
            u.*,
            d.NAME AS dept_name,
            GROUP_CONCAT( r.NAME ) AS roleNames
        FROM
            sys_user u
            LEFT JOIN sys_dept d ON u.dept_id = d.id
            LEFT JOIN sys_user_role ur ON u.id = ur.user_id
            LEFT JOIN sys_role r ON ur.role_id = r.id
        <where>
            <if test='queryParam.keywords!=null and queryParam.keywords.trim() neq ""'>
                and(u.username like concat('%',#{queryParam.keywords},'%')
                OR u.nickname like concat('%',#{queryParam.keywords},'%')
                OR u.mobile like concat('%',#{queryParam.keywords},'%'))
            </if>
            <if test='queryParam.status!=null'>
                and u.status = #{queryParam.status}
            </if>
            <if test='queryParam.deptId!=null'>
                and concat(',',concat(d.tree_path,',',d.id),',') like concat('%,',#{queryParam.deptId},',%')
            </if>
        </where>
        GROUP BY u.id
    </select>


    <resultMap id="UserDetailMap" type="com.youlai.admin.pojo.vo.UserDetailVO">
        <id property="id" column="userId" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="BOOLEAN"/>
        <result property="deptId" column="deptId" jdbcType="BIGINT"></result>
        <collection property="roles" ofType="string" javaType="list">
            <result column="roleCode"></result>
        </collection>
    </resultMap>


    <!-- 根据用户ID获取用户详情 -->
    <select id="getUserDetailById" resultMap="UserDetailMap">
        SELECT
            id,
            username,
            nickname,
            mobile,
            gender,
            avatar,
            email,
            STATUS,
            dept_id
        FROM
            sys_user
        WHERE
            id = #{userId}
          AND deleted =0
    </select>
</mapper>
