<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.product.mapper.AttributeGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.youlai.mall.product.model.entity.AttributeGroup">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, sort, remark, create_time, update_time, is_deleted
    </sql>


    <!-- 属性组分页列表 -->
    <select id="listPagedAttributeGroups" resultType="com.youlai.mall.product.model.bo.AttributeGroupBO">
        SELECT
            pag.id,
            pag.name,
            pag.sort,
            pag.remark,
            pag.create_time,
            pc.name AS category_name
        FROM
            pms_attribute_group pag
                LEFT JOIN pms_category pc on pag.category_id = pc.id AND pc.is_deleted = 0
        <where>
            pag.is_deleted = 0
            <if test='queryParams.keywords!=null and queryParams.keywords.trim() neq ""'>
                AND (
                    pag.name LIKE CONCAT('%',#{queryParams.keywords},'%')
                )
            </if>
            <if test="queryParams.startTime != null">
                AND pag.create_time &gt;= #{queryParams.startTime}
            </if>
            <if test="queryParams.endTime != null">
                AND pag.create_time &lt;= #{queryParams.endTime}
            </if>
        </where>
    </select>

</mapper>
