<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.product.mapper.AttrMapper">

    <!-- 根据分类ID获取属性组&列表 -->
    <select id="listAttrsByCategoryId" resultType="com.youlai.mall.product.model.vo.AttrVO">
        SELECT
            t1.id,
            t1.`name`,
            t2.id AS attr_group_id,
            t2.`name` AS attribute_group_name
        FROM
            pms_attr t1
            INNER JOIN pms_attr_group t2 ON t1.attr_group_id = t2.id AND t2.is_deleted = 0
        WHERE
            t1.category_id = #{categoryId}
            AND t1.is_deleted = 0
        ORDER BY
            t2.sort,
            t1.sort
    </select>

</mapper>
