<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.product.mapper.AttrGroupMapper">

    <!-- 属性组映射 -->
    <resultMap id="AttrGroupMap" type="com.youlai.mall.product.model.vo.AttrGroupPageVO">
        <collection property="attrs"
                    column="{groupId=id}"
                    select="com.youlai.mall.product.mapper.AttrMapper.listAttrsByGroupId">
        </collection>
    </resultMap>

    <!-- 属性组分页列表 -->
    <select id="listPagedAttrGroups" resultMap="AttrGroupMap">
        SELECT
            t1.id,
            t1.name,
            t2.name AS category_name,
            t1.sort,
            t1.create_time
        FROM
            pms_attr_group t1
                LEFT JOIN pms_category t2 on t1.category_id = t2.id AND t2.is_deleted = 0
        <where>
            t1.is_deleted = 0
            <if test='queryParams.keywords!=null and queryParams.keywords.trim() neq ""'>
                AND (
                    t1.name LIKE CONCAT('%',#{queryParams.keywords},'%')
                )
            </if>
            <if test="queryParams.startTime != null">
                AND t1.create_time &gt;= #{queryParams.startTime}
            </if>
            <if test="queryParams.endTime != null">
                AND t1.create_time &lt;= #{queryParams.endTime}
            </if>
            <if test="queryParams.categoryId != null">
                AND (t1.category_id = #{queryParams.categoryId} OR CONCAT(',',t2.tree_path,',') LIKE CONCAT('%,',#{queryParams.categoryId},',%'))
            </if>
        </where>
        ORDER BY
            t1.sort ASC
    </select>

</mapper>
