<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.product.mapper.AttributeMapper">

    <resultMap id="AttributeGroupMap" type="com.youlai.common.web.model.Option">
        <result column="attribute_group_id" property="value"/>
        <result column="attribute_group_name" property="label"/>
        <collection property="children" ofType="com.youlai.common.web.model.Option" javaType="java.util.List">
            <result column="id" property="value"/>
            <result column="name" property="label"/>
        </collection>
    </resultMap>

    <!-- 属性分页列表 -->
    <select id="listPagedAttributes" resultType="com.youlai.mall.product.model.bo.AttributeBO">
        SELECT
            t1.id,
            t1.`name`,
            t1.sort,
            t1.type,
            t1.input_method,
            t1.selectable_values,
            t2.NAME attributeGroupName,
            t3.NAME categoryName,
            t1.create_time
        FROM
            `pms_attribute` t1
                LEFT JOIN pms_attribute_group t2 ON t1.attribute_group_id = t2.id
                LEFT JOIN pms_category t3 ON t2.category_id = t3.id
        <where>
            t1.is_deleted = 0
            <if test='queryParams.keywords!=null and queryParams.keywords.trim() neq ""'>
                AND (
                    t1.name LIKE CONCAT('%',#{queryParams.keywords},'%')
                    OR t2.name LIKE CONCAT('%',#{queryParams.keywords},'%')
                    OR t3.name LIKE CONCAT('%',#{queryParams.keywords},'%')
                )
            </if>
            <if test='queryParams.groupId!=null'>
                AND t1.attribute_group_id = #{queryParams.groupId}
            </if>
        </where>
        ORDER BY
            t2.sort DESC, t1.sort DESC
    </select>

    <!-- 根据分类ID获取属性组&列表 -->
    <select id="listAttributesWithGroupByCategoryId" resultMap="AttributeGroupMap">
        SELECT
            t1.id,
            t1.`name`,
            t2.id attribute_group_id,
            t2.`name` attribute_group_name
        FROM
            pms_attribute t1
                INNER JOIN pms_attribute_group t2 ON t1.attribute_group_id = t2.id AND t2.is_deleted = 0
        WHERE
            t1.category_id = #{categoryId}
            AND t1.is_deleted = 0
        ORDER BY
            t2.sort DESC,
            t1.sort DESC
    </select>

</mapper>
