<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.product.mapper.AttributeGroupMapper">

    <!-- 属性组分页列表 -->
    <select id="listPagedAttributeGroups" resultType="com.youlai.mall.product.model.bo.AttributeGroupBO">
        SELECT
            ag.id,
            ag.name,
            ag.sort,
            ag.create_time,
            c.name AS category_name
        FROM
            pms_attribute_group ag
                LEFT JOIN pms_category c on ag.category_id = c.id AND c.is_deleted = 0
        <where>
            ag.is_deleted = 0
            <if test='queryParams.keywords!=null and queryParams.keywords.trim() neq ""'>
                AND (
                    ag.name LIKE CONCAT('%',#{queryParams.keywords},'%')
                )
            </if>
            <if test="queryParams.startTime != null">
                AND ag.create_time &gt;= #{queryParams.startTime}
            </if>
            <if test="queryParams.endTime != null">
                AND ag.create_time &lt;= #{queryParams.endTime}
            </if>
            <if test="queryParams.categoryId != null">
                AND (ag.category_id = #{queryParams.categoryId} OR CONCAT(',',c.tree_path,',') LIKE CONCAT('%,',#{queryParams.categoryId},',%'))
            </if>
        </where>
    </select>

</mapper>
