<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.product.mapper.AttributeMapper">

    <!-- 属性分页列表 -->
    <select id="listPagedAttributes" resultType="com.youlai.mall.product.model.bo.AttributeBO">
        SELECT
            t1.id,
            t1.`name`,
            t1.sort,
            t1.type,
            t1.input_type,
            t1.selectable_values,
            t2.NAME attributeGroupName,
            t3.NAME categoryName,
            t1.create_time
        FROM
            `pms_attribute` t1
                LEFT JOIN pms_attribute_group t2 ON t1.attribute_group_id = t2.id
                LEFT JOIN pms_category t3 ON t1.category_id = t3.id
        <where>
            t1.is_deleted = 0
            <if test='queryParams.keywords!=null and queryParams.keywords.trim() neq ""'>
                AND (
                    t1.name LIKE CONCAT('%',#{queryParams.keywords},'%')
                    OR t2.name LIKE CONCAT('%',#{queryParams.keywords},'%')
                    OR t3.name LIKE CONCAT('%',#{queryParams.keywords},'%')
                )
            </if>

            <if test='queryParams.attributeGroupId!=null'>
                AND t1.attribute_group_id = #{queryParams.attributeGroupId}
            </if>

            <if test='queryParams.attributeType!=null'>
                AND t1.type = #{queryParams.attributeType}
            </if>
            <if test='queryParams.categoryId!=null'>
                AND t1.category_id = #{queryParams.categoryId}
            </if>
        </where>
        ORDER BY
            t2.sort ASC, t1.sort ASC
    </select>

    <!-- 属性组映射 -->
    <resultMap id="AttributeGroupMap" type="com.youlai.mall.product.model.vo.AttributeGroupVO">
        <result column="attribute_group_id" property="groupId"/>
        <result column="attribute_group_name" property="groupName"/>
        <collection property="attributes"
                    ofType="com.youlai.mall.product.model.vo.AttributeVO"
                    javaType="java.util.List"
        >
            <result column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="input_type" property="inputType"/>
            <result column="options"
                    property="options"
                    typeHandler="com.youlai.common.mybatis.handler.typehandler.CommaStringListHandler"
            />
        </collection>
    </resultMap>

    <!-- 根据分类ID获取属性组&列表 -->
    <select id="listBaseAttributes" resultMap="AttributeGroupMap">
        SELECT
            t1.id,
            t1.`name`,
            t2.id AS attribute_group_id,
            t2.`name` AS attribute_group_name
        FROM
            pms_attribute t1
            INNER JOIN pms_attribute_group t2 ON t1.attribute_group_id = t2.id AND t2.is_deleted = 0
        WHERE
            t1.category_id = #{categoryId}
            AND t1.is_deleted = 0
            AND t1.type = 1
        ORDER BY
            t2.sort,
            t1.sort
    </select>

    <!-- 属性映射 -->
    <resultMap id="AttributeMap" type="com.youlai.mall.product.model.vo.AttributeVO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="input_type" property="inputType"/>
        <result column="options"
                property="options"
                typeHandler="com.youlai.common.mybatis.handler.typehandler.CommaStringListHandler"
        />
    </resultMap>

    <!-- 根据分类ID获取销售属性列表 -->
    <select id="listSaleAttributes" resultMap="AttributeMap">
        SELECT
            t1.id,
            t1.`name`,
            t1.input_type,
            t1.options
        FROM
            pms_attribute t1
        WHERE
            t1.category_id = #{categoryId}
            AND t1.is_deleted = 0
            AND t1.type = 2
        ORDER BY
            t1.sort
    </select>

</mapper>
