<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.product.mapper.BrandCategoryMapper">

    <!-- 查询品牌分类列表 -->
    <select id="listCategoriesByBrandId" resultType="com.youlai.common.core.model.Option">
        SELECT
            pc.id AS 'value',
            pc.name AS 'label'
        FROM
            pms_brand_category pbc
                INNER JOIN pms_category pc ON pbc.category_id = pc.id AND pc.is_deleted = 0
        WHERE
            pbc.brand_id = #{brandId}
    </select>

</mapper>
