<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.product.mapper.BrandMapper">

    <!-- 获取品牌下拉列表 -->
    <select id="listBrandOptions" resultType="com.youlai.mall.product.model.entity.Brand">
        SELECT
            id,
            name
        FROM
            pms_brand t1
        WHERE
         t1.is_visible = 1
            AND t1.is_deleted = 0
        ORDER BY
            t1.sort ASC
    </select>
</mapper>
