<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.product.mapper.SkuMapper">

    <!-- 定义SKU和属性值的结果集 -->
    <resultMap id="SkuAndAttributeValueMap" type="com.youlai.mall.product.model.bo.SkuBO">
        <collection property="attributeValues" ofType="com.youlai.mall.product.model.entity.SkuAttributeValue"
                    column="{skuId=id}"
                    select="com.youlai.mall.product.mapper.SkuAttributeValueMapper.listAttributesBySkuId">
        </collection>
    </resultMap>

    <!-- 根据SKU的ID获取对应的商品库存单元（SKU）信息 -->
    <select id="getSkuById" resultType="com.youlai.mall.product.model.bo.SkuBO">
        SELECT
           t1.id ,
           t1.name,
           t1.code,
           t1.img_url,
           t1.price,
           t1.stock,
           t2.name as spuName
        FROM
            pms_sku t1
                INNER JOIN pms_spu t2 ON t1.spu_id = t2.id
        WHERE
            t1.id = #{id}
    </select>

    <!-- 根据一组SKU的ID列表获取对应的商品库存信息列表 -->
    <select id="listSkusByIds" resultType="com.youlai.mall.product.model.bo.SkuBO">
        SELECT
            t1.id,
            t1.name,
            t1.code,
            t1.img_url,
            t1.price,
            t1.stock - t1.lock_stock AS stock,
            t2.name AS spuName
        FROM
            pms_sku t1
                INNER JOIN pms_spu t2 ON t1.spu_id = t2.id
        WHERE
            t1.id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
    </select>

    <!-- 根据SPU的ID获取对应的商品库存单元（SKU）列表 -->
    <select id="listSkusBySpuId" resultMap="SkuAndAttributeValueMap">
        SELECT
            t1.id,
            t1.name,
            t1.code,
            t1.stock - t1.locked_stock AS stock,
            t1.price,
            t1.img_url
        FROM
            pms_sku t1
        WHERE
            t1.spu_id = #{spuId}

    </select>
</mapper>
