<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.product.mapper.SkuAttributeValueMapper">

    <!-- 根据 SKU 的 ID 获取销售属性列表  -->
    <select id="listAttributesBySkuId" resultType="com.youlai.mall.product.model.entity.SkuAttributeValue">
        SELECT
            id,
            attribute_id,
            attribute_name,
            attribute_value
        FROM
            pms_sku_attribute_value
        WHERE
            sku_id = #{skuId}
    </select>

</mapper>
