<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.product.mapper.SkuSpecMapper">

    <!-- 根据 SKU 的 ID 获取销售属性列表  -->
    <select id="listSpecBySkuId" resultType="com.youlai.mall.product.model.bo.SkuSpecBO">
        SELECT
            t1.id,
            t1.spec_name,
            t1.spec_value
        FROM
            pms_sku_spec t1
        WHERE
            t1.sku_id = #{skuId}
    </select>

</mapper>
