<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.product.mapper.SpuAttributeValueMapper">

    <!-- 定义属性组&属性列表的结果集 -->
    <resultMap id="AttributeGroupMap" type="com.youlai.mall.product.model.form.SpuForm$AttributeGroup">
        <result column="attribute_group_id" property="attributeGroupId"/>
        <result column="attribute_group_name" property="attributeGroupName"/>
        <collection property="attributeValues" ofType="com.youlai.mall.product.model.form.SpuForm$AttributeValue" javaType="java.util.List">
            <result column="id" property="id"/>
            <result column="attribute_id" property="attributeId"/>
            <result column="attribute_name" property="attributeName"/>
            <result column="attribute_value" property="attributeValue"/>
            <result column="input_type" property="inputType"/>
            <result column="selectable_values" property="selectableValues" typeHandler="com.youlai.common.mybatis.handler.typehandler.CommaStringListHandler"/>
        </collection>
    </resultMap>

</mapper>
