<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.mall.product.mapper.SpuMapper">

    <!-- 管理端-商品分页列表 -->
    <select id="getSpuPage" resultType="com.youlai.mall.product.model.vo.SpuPageVO">
        SELECT
            t1.id,
            t1.name,
            t1.img_url,
            t1.unit,
            t1.description,
            t3.NAME categoryName,
            t4.NAME brandName,
            t1.status
        FROM pms_spu t1
            LEFT JOIN pms_category t3 ON t1.category_id = t3.id
            LEFT JOIN pms_brand t4 ON t1.brand_id = t4.id
        <where>
            AND t1.is_deleted = 0
            <if test='queryParams.keywords!=null and queryParams.keywords.trim() neq ""'>
                AND t1.name like concat('%',#{queryParams.keywords},'%')
            </if>
            <if test="queryParams.categoryId!=null">
                AND t1.category_id =#{queryParams.categoryId}
            </if>
        </where>
        ORDER BY
            t1.create_time DESC
    </select>

    <!-- 客户端-商品分页列表 -->
    <select id="getClientSpuPage" resultType="com.youlai.mall.product.model.vo.client.ClientSpuPageVO">
        SELECT
            t1.id,
            t1.`name`,
            min(t2.price) price,
            t1.img_url,
            sum(t2.sales) sales,
            t1.description,
            t1.unit
        FROM
            `pms_spu` t1
                LEFT JOIN pms_sku t2 ON t1.id = t2.spu_id  AND t2.is_deleted = 0
                LEFT JOIN pms_spu_comment t3 ON t1.id = t3.spu_id AND t3.is_deleted = 0
        WHERE
            t1.`status` = 1
            AND t1.is_deleted = 0
            <if test='queryParams.keywords!=null and queryParams.keywords.trim() neq ""'>
                AND (
                    t1.`name` LIKE CONCAT('%',#{queryParams.keywords},'%')
                    OR t1.description LIKE CONCAT('%',#{queryParams.keywords},'%')
                )
            </if>
            <if test='queryParams.categoryId!=null'>
                AND category_id LIKE CONCAT('%',#{queryParams.categoryId},'%')
            </if>
        GROUP BY
            t1.id
        <if test="queryParams.orderBy!=null and queryParams.sort !=null">
        ORDER BY
            <choose>
                <when test="queryParams.orderBy.toString() eq 'price'">min(t2.price) </when>
                <when test="queryParams.orderBy.toString() eq 'sales'">sum( t2.sales )</when>
                <when test="queryParams.orderBy.toString() eq 'score'">(sum(t2.sales) * 0.5 + sum(t3.star)/COUNT(t3.id) * 0.5)</when>
                <otherwise>t1.create_time </otherwise>
            </choose>
            <choose>
                <when test="queryParams.sort.toString() eq 'asc'">ASC</when>
                <otherwise>DESC</otherwise>
            </choose>
        </if>
    </select>
</mapper>
