<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <!-- 自定义属性 -->
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="default"/>

    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <!-- 彩色日志格式 -->
    <property name="LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
    <!-- 输出到控制台-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                <Pattern>${LOG_PATTERN}</Pattern>
                <charset>UTF-8</charset>
            </pattern>
        </encoder>
    </appender>

    <!-- Logstash收集登录日志输出到ElasticSearch  -->
    <appender name="LOGIN_LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>g.youlai.tech:5044</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>Asia/Shanghai</timeZone>
                </timestamp>
                <!--自定义日志输出格式-->
                <pattern>
                    <pattern>
                        {
                        "project": "${APP_NAME}",
                        "date": "%X{date}", <!-- 索引名时区同步 -->
                        "action":"login",
                        "pid": "${PID:-}",
                        "thread": "%thread",
                        "message": "%message",
                        "elapsedTime": "%X{elapsedTime}",
                        "username":"%X{username}",
                        "clientIP": "%X{clientIP}",
                        "region":"%X{region}",
                        "token":"%X{token}",
                        "loginTime": "%date{\"yyyy-MM-dd HH:mm:ss\"}",
                        "description":"%X{description}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
        <keepAliveDuration>5 minutes</keepAliveDuration>
    </appender>

    <!-- additivity 默认是true，标识该logger的日志会在root的appender再打印一次 -->
    <logger name="com.youlai.common.web.aspect.LoginLogAspect" level="INFO" additivity="false">
        <appender-ref ref="LOGIN_LOGSTASH"/>
    </logger>

    <logger name="com.alibaba.nacos.client.naming" level="ERROR" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- 根logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
