<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.system.mapper.SysDictItemMapper">

    <!-- 根据字典编码获取字典列表 -->
    <select id="listDictItemsByDictId" resultType="com.youlai.system.model.vo.DictPageVO$DictItem">
        SELECT
            id,
            `name`,
            value,
            sort,
            status
        FROM
            sys_dict_item
        <where>
            dict_id = #{dictId}
        </where>
        ORDER BY
            sort ASC
    </select>

</mapper>
