<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.system.mapper.SysRoleMenuMapper">

    <!-- 获取角色拥有的菜单ID集合 -->
    <select id="listMenuIdsByRoleId" resultType="java.lang.Long">
        SELECT
            rm.menu_id
        FROM
            sys_role_menu rm
                INNER JOIN sys_menu m ON rm.menu_id = m.id
        WHERE
            rm.role_id = #{roleId}
            <!-- 父节点id排除，由子节点的勾选状态控制父节点选中 -->
            AND rm.menu_id NOT IN
                (
                     SELECT
                         m.parent_id
                     FROM
                         sys_role_menu rm
                             INNER JOIN sys_menu m  ON rm.menu_id = m.id
                     WHERE rm.role_id = #{roleId}
                 )
    </select>

    <!-- 获取角色权限标识集合 -->
    <select id="listPerms" resultType="java.lang.String">
        SELECT
            DISTINCT m.perm
        FROM
            sys_role_menu rm
                INNER JOIN `sys_menu` m ON rm.menu_id = m.id
                INNER JOIN `sys_role` r ON rm.role_id = r.id
        WHERE
            m.type = 'B'
            AND m.perm IS NOT NULL
            AND r.`code` IN
            <foreach collection="roles" item="role" separator="," open="(" close=")">
               #{role}
            </foreach>
    </select>
</mapper>
