<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.system.mapper.SysRolePermissionMapper">

    <!-- 获取角色拥有的权限ID集合 -->
    <select id="listPermIdsByRoleId" resultType="java.lang.Long">
        SELECT rp.permission_id
        FROM sys_role_permission rp
                 INNER JOIN sys_permission p ON rp.permission_id = p.id
        WHERE rp.role_id = #{roleId}
    </select>
</mapper>
